body{
    display: flex;
    font-size: 18px ;
    font-family: Arial;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: brown;
    border-radius: 20px;
    padding: 20px;

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: gray;
}